html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #00a3e1;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-logo {
  width: 200px;
  display: block;
  margin-bottom: 2rem;
}

.App-link {
  color: white;
}

.Demo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 350px;
  margin-top: -150px;
}

.Component-wrapper {
  padding: 0.5rem;
  border: 2px dashed rgba(255, 255, 255, 0.55);
  background: #0098d2;
  border-radius: 10px;
}
